<div class="hero-unit">
  <h1>Welcome to HexGuru!</h1>
  <p>HexGuru is a deck-building community website focused on creating the best Hex decks. Sign up now and join the community.</p>
  <p>
    <%= link_to "Sign Up", signup_path, class: 'btn btn-primary btn-large' %>
  </p>
</div>