<div class="row">
  <div class="span9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <%= render @cards %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
  <div class="span3">
    <div class="well well-small">
      <h3>Filter</h3>
    </div>
  </div>
</div>
