<% provide(:title, "Cards") %>

<% if current_user.try(:admin?) %>
  <%= link_to "Add Card", new_card_path, class: "btn btn-primary" %>
<% end %>

<div class="row">
  <div class="span12">
    <h3>Filters</h3>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table id="cards" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Cost</th>
          <th>Set</th>
        </tr>
      </thead>
      <tbody>
        <%= render @cards %>
      </tbody>
    </table>
  </div>
</div>
