<% provide(:title, "Cards") %>

<% if current_user.try(:admin?) %>
  <%= link_to "Add Card", new_card_path, class: "btn btn-primary" %>
<% end %>

<div class="row">
  <div class="span12">
    <%= render 'filters' %>
  </div>
</div>

<div class="row">
  <div id="cards" class="span12">
    <%= render 'card_table' %>
  </div>
</div>
