<% provide(:title, @card.name) %>

<div class="page-header">
  <h1>
    <%= @card.name %>
    <small>
      --
      <% @card.traits.each do |k| %>
        <%= k.name %>
      <% end %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="span4">
    <%= image_tag "cards/"+@card.image, class: "img-rounded" %>
  </div>
  <div class="span8">
    <%= render 'table' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Equipment</h2>
    <p>Coming Soon</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Comments</h2>
    <p>Coming Soon</p>
  </div>
</div>