@import 'bootstrap';

/*  Colors  */

$diamond: #e8e8e8;
$blood: #b43de8;
$sapphire: #4c50ff;
$ruby: #ff444d;
$wild: #56ff65;
$background: #fff;

/*  Base  */

body {
  background: black url("background.png") fixed top center;
}

#main {
  padding-top: 60px;
  background-color: $background;
  backgound-attachment: fixed;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  background-color: $background;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    text-align: center;
    display: block;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*  Layout  */

table#cards {
  tr.Diamond {
    background-color: $diamond;
  }
  tr.Blood {
    background-color: $blood;
  }
  tr.Sapphire {
    background-color: $sapphire;
  }
  tr.Ruby {
    background-color: $ruby;
  }
  tr.Wild {
    background-color: $wild;
  }
}

.hero-unit {
  padding: 30px 60px;
}

/*  Modules  */

#carousel {
  height: 300px;
}

#new-cards {
  min-height: 300px;
}






