@import 'bootstrap';

/*  Colors  */

$diamond: #e8e8e8;
$blood: #b43de8;
$sapphire: #4c50ff;
$ruby: #ff444d;
$wild: #56ff65;
$background: #fff;

/*  Color Icons  */
.icon-Blood {
  background-image: image-url("icons.png");
  background-position: 0px 0px;
}
.icon-Diamond {
  background-image: image-url("icons.png");
  background-position: -20px 0px;
}
.icon-Ruby {
  background-image: image-url("icons.png");
  background-position: -40px 0px;
}
.icon-Sapphire {
  background-image: image-url("icons.png");
  background-position: 0px -20px;
}
.icon-Wild {
  background-image: image-url("icons.png");
  background-position: -21px -20px;
}
.icon-Artifact {
  background-image: image-url("icons.png");
  background-position: -40px -20px;
}

/*  Base  */

body {
  margin-top: 60px;
  background: #000 image-url("background.png") fixed top center;
}

footer {
  margin-top: 45px;
  padding: 40px 0px;
  border-top: 1px solid #eaeaea;
  background-color: $background;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    text-align: center;
    display: block;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*  Layout  */

.hero-unit {
  padding: 30px 60px;
}
.avatar {
  float: left;
}
.gravatar {
  margin: 2px;
}

/*  Modules  */

#carousel {
  height: 300px;
}

#new-cards {
  min-height: 300px;
}

#newest-decks {
  min-height: 500px;
}


/* Card Comments */
#all-comments {
  list-style: none;
  .gravatar {
    margin: 0px;
    position: absolute;
  } 
  .content {
    margin-left: 60px;
  }
  li {
    margin-bottom: 20px;
    p {
      margin-bottom: 5px;
    }
    .user {
      margin-right: 10px;
      font-weight: bold;
    }
    .timestamp {
      color: #999;
    }
  }
}



